{# Jinja web template engine which will be rendered by Flask #}
{# Template Inheritance #}
{% extends "mybase.html" %}

{% block content %}
  <!-- require Bootstrap’s Scrollspy plugin to run Table of Contents sidebar
  https://getbootstrap.com/docs/5.0/components/scrollspy/
  only scroll a div rather than whole boy -> https://stackoverflow.com/a/69448283
  but the effect is not so good as scroll whole body
  -->
  <div class="container-fluid">
      <div class="row">
          <!-- sidebar position; hidden in small screen -->
          <div class="col-md-2 d-none d-sm-none d-md-block">
              <!-- don't forget to set as sticky-top -->
              <nav
                  id="toc"
                  data-toggle="toc"
                  class="sticky-top"
                  style="margin: 10px"></nav>
          </div>
          
          <!-- all contents need to be put in this one big column -->
          <div class="col-md-8">
              <div class="row shadow-sm">
                  <h3 id="trf-number" style="margin-top: 10px; margin-bottom: 15px">Number of tRFs in tRFtarget</h3>
                  <table id="table-multi-hover" class="table align-middle mx-auto w-auto">
                      <!-- table-striped(-columns) not works well as there are cells span across multiple rows -->
                      <thead class="align-middle text-center">
                          <tr>
                              <th scope="col" class="table-light">Organism</th>
                              <th scope="col" class="table-secondary">Source</th>
                              <th scope="col" class="table-light">Total</th>
                          </tr>
                      </thead>
                      <tbody class="table-group-divider">
                          <!-- 1st column is row header -->
                          <tr i="0">
                              <th scope="row" rowspan="8" class="table-light text-center" rep="organism"><em>Homo sapiens</em></th>
                              <td class="table-secondary" rep="source">157 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rowspan="8" rep="total">1,944</td>
                          </tr>
                          <tr i="1">
                              <td class="table-secondary" rep="source">113 from <a href="https://doi.org/10.1073/pnas.1706908114" target="_blank" rel="noopener noreferrer">tsRNA study</a></td>
                          </tr>
                          <tr i="2">
                              <td class="table-secondary" rep="source">78 from <a href="http://tsrbase.org/index.php" target="_blank" rel="noopener noreferrer">tsRBase</a></td>
                          </tr>
                          <tr i="3">
                              <td class="table-secondary" rep="source">518 from <a href="https://rna.sysu.edu.cn/tsRFun/" target="_blank" rel="noopener noreferrer">tsRFun</a></td>
                          </tr>
                          <tr i="4">
                              <td class="table-secondary" rep="source">583 from <a href="https://cm.jefferson.edu/MINTbase/" target="_blank" rel="noopener noreferrer">MINTbase v2.0 (04/04/2019)</a></td>
                          </tr>
                          <tr i="5">
                              <td class="table-secondary" rep="source">17 from <a href="https://trfexplorer.cloud/" target="_blank" rel="noopener noreferrer">tRFexplorer (2019-05)</a></td>
                          </tr>
                          <tr i="6">
                              <td class="table-secondary" rep="source">475 from <a href="https://grigoriev-lab.camden.rutgers.edu/tatdb/index.php" target="_blank" rel="noopener noreferrer">tatDB</a></td>
                          </tr>
                          <tr i="7">
                              <td class="table-secondary" rep="source">3 from <a href="http://bioinformatics.zju.edu.cn/OncotRF/index.html" target="_blank" rel="noopener noreferrer">OncotRF</a></td>
                          </tr>
                          <tr i="8">
                              <th scope="row" rowspan="2" class="table-light text-center" rep="organism"><em>Mus musculus</em></th>
                              <td class="table-secondary" rep="source">164 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rowspan="2" rep="total">170</td>
                          </tr>
                          <tr i="9">
                              <td class="table-secondary" rep="source">6 from <a href="http://tsrbase.org/index.php" target="_blank" rel="noopener noreferrer">tsRBase</a></td>
                          </tr>
                          <tr i="10">
                              <th scope="row" class="table-light text-center" rep="organism"><em>Caenorhabditis elegans</em></th>
                              <td class="table-secondary" rep="source">47 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rep="total">47</td>
                          </tr>
                          <tr i="11">
                              <th scope="row" class="table-light text-center" rep="organism"><em>Danio rerio</em></th>
                              <td class="table-secondary" rep="source">127 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rep="total">127</td>
                          </tr>
                          <tr i="12">
                              <th scope="row" rowspan="2" class="table-light text-center" rep="organism"><em>Drosophila melanogaster</em></th>
                              <td class="table-secondary" rep="source">86 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rowspan="2" rep="total">90</td>
                          </tr>
                          <tr i="13">
                              <td class="table-secondary" rep="source">4 from <a href="http://tsrbase.org/index.php" target="_blank" rel="noopener noreferrer">tsRBase</a></td>
                          </tr>
                          <tr i="14">
                              <th scope="row" class="table-light text-center" rep="organism"><em>Rattus norvegicus</em></th>
                              <td class="table-secondary" rep="source">4 from <a href="http://tsrbase.org/index.php" target="_blank" rel="noopener noreferrer">tsRBase</a></td>
                              <td class="table-light text-end" rep="total">4</td>
                          </tr>
                          <tr i="15">
                              <th scope="row" class="table-light text-center" rep="organism"><em>Rhodobacter sphaeroides</em></th>
                              <td class="table-secondary" rep="source">77 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rep="total">77</td>
                          </tr>
                          <tr i="16">
                              <th scope="row" class="table-light text-center" rep="organism"><em>Schizosaccharomyces pombe</em></th>
                              <td class="table-secondary" rep="source">104 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rep="total">104</td>
                          </tr>
                          <tr i="17">
                              <th scope="row" class="table-light text-center" rep="organism"><em>Xenopus tropicalis</em></th>
                              <td class="table-secondary" rep="source">51 from <a href="http://genome.bioch.virginia.edu/trfdb/" target="_blank" rel="noopener noreferrer">tRFdb</a></td>
                              <td class="table-light text-end" rep="total">51</td>
                          </tr>
                          <tr i="18">
                              <th scope="row" class="table-light text-center" rep="organism">Total</th>
                              <td class="table-secondary" rep="source"></td>
                              <td class="table-light text-end" rep="total">2,614</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
              <div class="row shadow-sm">
                  <h3 id="target-rna-number" style="margin-top: 10px; margin-bottom: 15px">Number of target RNAs in tRFtarget</h3>
                  <table class="table table-hover align-middle mx-auto w-auto">
                      <thead class="align-middle text-center">
                          <tr>
                              <th scope="col" class="table-light">Organism</th>
                              <th scope="col" class="table-secondary">#Protein-coding mRNAs</th>
                              <th scope="col" class="table-light">#lncRNAs</th>
                              <th scope="col" class="table-secondary">#rRNAs</th>
                              <th scope="col" class="table-light">Total</th>
                          </tr>
                      </thead>
                      <tbody class="table-group-divider">
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Homo sapiens</em></th>
                              <td class="table-secondary text-end">110,980</td>
                              <td class="table-light text-end">412,754</td>
                              <td class="table-secondary text-end">6,720</td>
                              <td class="table-light text-end">530,454</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Mus musculus</em></th>
                              <td class="table-secondary text-end">67,002</td>
                              <td class="table-light text-end">85,246</td>
                              <td class="table-secondary text-end">254</td>
                              <td class="table-light text-end">152,502</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Caenorhabditis elegans</em></th>
                              <td class="table-secondary text-end">31,989</td>
                              <td class="table-light text-end">202</td>
                              <td class="table-secondary text-end">173</td>
                              <td class="table-light text-end">32,364</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Danio rerio</em></th>
                              <td class="table-secondary text-end">67,002</td>
                              <td class="table-light text-end">85,246</td>
                              <td class="table-secondary text-end">254</td>
                              <td class="table-light text-end">152,502</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Drosophila melanogaster</em></th>
                              <td class="table-secondary text-end">51,259</td>
                              <td class="table-light text-end">2,627</td>
                              <td class="table-secondary text-end">5,134</td>
                              <td class="table-light text-end">59,020</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Rattus norvegicus</em></th>
                              <td class="table-secondary text-end">45,893</td>
                              <td class="table-light text-end">32,901</td>
                              <td class="table-secondary text-end">308</td>
                              <td class="table-light text-end">79,102</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Rhodobacter sphaeroides</em></th>
                              <td class="table-secondary text-end">4,333</td>
                              <td class="table-light text-end">0</td>
                              <td class="table-secondary text-end">5</td>
                              <td class="table-light text-end">4,338</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Schizosaccharomyces pombe</em></th>
                              <td class="table-secondary text-end">5,060</td>
                              <td class="table-light text-end">1</td>
                              <td class="table-secondary text-end">112</td>
                              <td class="table-light text-end">5,173</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Xenopus tropicalis</em></th>
                              <td class="table-secondary text-end">49,787</td>
                              <td class="table-light text-end">2</td>
                              <td class="table-secondary text-end">459</td>
                              <td class="table-light text-end">50,248</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center">Total</th>
                              <td class="table-secondary text-end">397,102</td>
                              <td class="table-light text-end">536,633</td>
                              <td class="table-secondary text-end">14,407</td>
                              <td class="table-light text-end">948,142</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
              <div class="row shadow-sm">
                  <h3 id="target-gene-number" style="margin-top: 10px; margin-bottom: 15px">Number of target Genes in tRFtarget</h3>
                  <table class="table table-hover align-middle mx-auto w-auto">
                      <thead class="align-middle text-center">
                          <tr>
                              <th scope="col" class="table-light">Organism</th>
                              <th scope="col" class="table-secondary">#Protein-coding Genes</th>
                              <th scope="col" class="table-light">#lncRNA Genes</th>
                              <th scope="col" class="table-secondary">#rRNA Genes</th>
                              <th scope="col" class="table-light">Total</th>
                          </tr>
                      </thead>
                      <tbody class="table-group-divider">
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Homo sapiens</em></th>
                              <td class="table-secondary text-end">20,367</td>
                              <td class="table-light text-end">17,669</td>
                              <td class="table-secondary text-end">52</td>
                              <td class="table-light text-end">38,088</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Mus musculus</em></th>
                              <td class="table-secondary text-end">22,322</td>
                              <td class="table-light text-end">11,102</td>
                              <td class="table-secondary text-end">170</td>
                              <td class="table-light text-end">33,594</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Caenorhabditis elegans</em></th>
                              <td class="table-secondary text-end">19,981</td>
                              <td class="table-light text-end">193</td>
                              <td class="table-secondary text-end">19</td>
                              <td class="table-light text-end">20,193</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Danio rerio</em></th>
                              <td class="table-secondary text-end">30,149</td>
                              <td class="table-light text-end">1,837</td>
                              <td class="table-secondary text-end">1,192</td>
                              <td class="table-light text-end">33,178</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Drosophila melanogaster</em></th>
                              <td class="table-secondary text-end">13,986</td>
                              <td class="table-light text-end">2,369</td>
                              <td class="table-secondary text-end">106</td>
                              <td class="table-light text-end">16,461</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Rattus norvegicus</em></th>
                              <td class="table-secondary text-end">23,096</td>
                              <td class="table-light text-end">2,456</td>
                              <td class="table-secondary text-end">212</td>
                              <td class="table-light text-end">25,764</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Rhodobacter sphaeroides</em></th>
                              <td class="table-secondary text-end">4,333</td>
                              <td class="table-light text-end">0</td>
                              <td class="table-secondary text-end">5</td>
                              <td class="table-light text-end">4,338</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Schizosaccharomyces pombe</em></th>
                              <td class="table-secondary text-end">4,333</td>
                              <td class="table-light text-end">0</td>
                              <td class="table-secondary text-end">0</td>
                              <td class="table-light text-end">4,333</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Xenopus tropicalis</em></th>
                              <td class="table-secondary text-end">22,102</td>
                              <td class="table-light text-end">1</td>
                              <td class="table-secondary text-end">535</td>
                              <td class="table-light text-end">22,638</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center">Total</th>
                              <td class="table-secondary text-end">161,387</td>
                              <td class="table-light text-end">35,627</td>
                              <td class="table-secondary text-end">2,332</td>
                              <td class="table-light text-end">199,346</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
              <div class="row shadow-sm">
                  <h3 id="binding-site-number" style="margin-top: 10px; margin-bottom: 15px">Number of Predicted Binding Sites in tRFtarget</h3>
                  <table class="table table-hover align-middle mx-auto w-auto">
                      <thead class="align-middle text-center">
                          <tr>
                              <th scope="col" class="table-light">Organism</th>
                              <th scope="col" class="table-secondary">#RNAhybrid</th>
                              <th scope="col" class="table-light">#IntaRNA</th>
                              <th scope="col" class="table-secondary">#Consensus (pairs)</th>
                          </tr>
                      </thead>
                      <tbody class="table-group-divider">
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Homo sapiens</em></th>
                              <td class="table-secondary text-end">3,377,427,836</td>
                              <td class="table-light text-end">2,416,199,928</td>
                              <td class="table-secondary text-end">542,988,333</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Mus musculus</em></th>
                              <td class="table-secondary text-end">83,530,931</td>
                              <td class="table-light text-end">60,329,700</td>
                              <td class="table-secondary text-end">13,270,931</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Caenorhabditis elegans</em></th>
                              <td class="table-secondary text-end">4,325,292</td>
                              <td class="table-light text-end">3,433,891</td>
                              <td class="table-secondary text-end">935,985</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Danio rerio</em></th>
                              <td class="table-secondary text-end">25,605,277</td>
                              <td class="table-light text-end">18,787,232</td>
                              <td class="table-secondary text-end">4,452,811</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Drosophila melanogaster</em></th>
                              <td class="table-secondary text-end">10,652,355</td>
                              <td class="table-light text-end">8,042,938</td>
                              <td class="table-secondary text-end">1,654,959</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Rattus norvegicus</em></th>
                              <td class="table-secondary text-end">1,266,339</td>
                              <td class="table-light text-end">901,919</td>
                              <td class="table-secondary text-end">157,927</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Rhodobacter sphaeroides</em></th>
                              <td class="table-secondary text-end">1,068,277</td>
                              <td class="table-light text-end">793,883</td>
                              <td class="table-secondary text-end">183,870</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Schizosaccharomyces pombe</em></th>
                              <td class="table-secondary text-end">1,926,438</td>
                              <td class="table-light text-end">1,189,886</td>
                              <td class="table-secondary text-end">270,548</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center"><em>Xenopus tropicalis</em></th>
                              <td class="table-secondary text-end">9,404,617</td>
                              <td class="table-light text-end">7,590,218</td>
                              <td class="table-secondary text-end">2,081,926</td>
                          </tr>
                          <tr>
                              <th scope="row" class="table-light text-center">Total</th>
                              <td class="table-secondary text-end">3,515,207,362</td>
                              <td class="table-light text-end">2,517,269,595</td>
                              <td class="table-secondary text-end">565,997,290</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
              <div class="row shadow-sm">
                  <h3 id="gene-evidence-number" style="margin-top: 10px; margin-bottom: 15px">Number of Curated Gene-level Evidences</h3>
                  <p>400 tRF target gene related publications have been manually curated, and total 232 gene-level evidence entries from 57 publications are extracted.</p>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

<!-- add scroll to body -->
{% block body_attribs %}
   data-bs-spy="scroll" data-bs-target="#toc" data-bs-offset="0"
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- for Table of Contents sidebar -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />
  <style>
      body {
          position: relative;
      }
      nav[data-toggle="toc"] .nav > li > a:hover,
      nav[data-toggle="toc"] .nav > li > a:focus {
          color: #0d6efd;
          border-left-color: #0d6efd;
      }
      nav[data-toggle="toc"] .nav-link.active,
      nav[data-toggle="toc"] .nav-link.active:hover,
      nav[data-toggle="toc"] .nav-link.active:focus {
          color: #0d6efd;
          border-left-color: #0d6efd;
      }
      /* Bootstrap 5 table hover background color table-secondary: #d1d2d4; table-light: #e5e6e7 */
      .hover-secondary {
          background-color: #d1d2d4 !important;
      }
      .hover-light {
          background-color: #e5e6e7 !important;
      }
  </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- for Table of Contents sidebar -->
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
  <!-- Custom script to fix table hover with row spans (https://stackoverflow.com/a/63395199) -->
  <script>
      jQuery(() => {
          if ($("#table-multi-hover").length) {
              const headerValues = Array.from(
                  $("thead")[0].children[0].children
              ).map((item) => item.innerText.toLowerCase());
              let table = [];
              const tableCells = Array.from($("tbody")[0].children)
                  .map((item) => item.children)
                  .map((item) => Array.from(item));
              for (let i = 0; i < tableCells.length; i++) {
                  let tempObj = {};
                  for (let j = 0; j < tableCells[i].length; j++) {
                      tempObj[tableCells[i][j].attributes.rep.value] =
                          tableCells[i][j];
                  }
                  for (let j = 0; j < headerValues.length; j++) {
                      if (i != 0 && tempObj[headerValues[j]] == undefined) {
                          tempObj[headerValues[j]] =
                              table[i - 1][headerValues[j]];
                      }
                  }
                  table.push(Object.assign({}, tempObj));
              }
              $("#table-multi-hover tbody td, #table-multi-hover tbody th").on(
                  "mouseover",
                  (event) => {
                      const rowIndex = parseInt(
                          event.currentTarget.parentElement.attributes.i.value
                      );
                      const rep = event.currentTarget.attributes.rep.value;
                      const rowspan =
                          event.currentTarget.attributes.rowspan != undefined
                              ? parseInt(
                                    event.currentTarget.attributes.rowspan.value
                                )
                              : 1;
                      for (let i = 0; i < rowspan; i++) {
                          for (let j in table[rowIndex + i]) {
                              if (j === "organism" || j === "total") {
                                  $(table[rowIndex + i][j]).addClass(
                                      "hover-light"
                                  );
                              } else {
                                  $(table[rowIndex + i][j]).addClass(
                                      "hover-secondary"
                                  );
                              }
                          }
                      }
                  }
              );
              $("#table-multi-hover tbody td, #table-multi-hover tbody th").on(
                  "mouseleave",
                  (event) => {
                      const rowIndex = parseInt(
                          event.currentTarget.parentElement.attributes.i.value
                      );
                      const rep = event.currentTarget.attributes.rep.value;
                      const rowspan =
                          event.currentTarget.attributes.rowspan != undefined
                              ? parseInt(
                                    event.currentTarget.attributes.rowspan.value
                                )
                              : 1;
                      for (let i = 0; i < rowspan; i++) {
                          for (let j in table[rowIndex + i]) {
                              if (j === "organism" || j === "total") {
                                  $(table[rowIndex + i][j]).removeClass(
                                      "hover-light"
                                  );
                              } else {
                                  $(table[rowIndex + i][j]).removeClass(
                                      "hover-secondary"
                                  );
                              }
                          }
                      }
                  }
              );
          }
      });
  </script>
{% endblock %}