{# Jinja web template engine which will be rendered by Flask #}
{# Template Inheritance #}
{% extends "mybase.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row" style="margin-top: 1rem">
    <div class="col-md-8 offset-md-2">
      <h3>tRFtarget team</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-1 offset-md-2">
      <br>
      <img src="{{ url_for('static', filename='img/Wang.jpg') }}" alt="Wang Photo" height="100"/>
    </div>
    <div class="col-md-3">
      <br>
      <h5>Zuoheng Anita Wang, PhD</h5>
      <p>Associate Professor of Biostatistics<br>Yale School of Public Health<br>Yale University</p>
    </div>
       
    <div class="col-md-1">
      <br>
      <img src="{{ url_for('static', filename='img/Lu.jpg') }}" alt="Lu Photo" height="100"/>
    </div>
    <div class="col-md-5">
      <br>
      <h5>Lingeng Lu, MD, PhD</h5>
      <p>Research Scientist in Epidemiology (Chronic Diseases)<br>Yale School of Public Health<br>Yale University</p>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-1 offset-md-2">
      <br>
      <img src="{{ url_for('static', filename='img/Li.jpg') }}" alt="Li Photo" height="100"/>
    </div>
    <div class="col-md-5">
      <br>
      <h5>Ningshan Li, PhD</h5>
      <p>PhD of Biostatistics and Bioinformatics<br>School of Life Science and Biotechnology<br>Shanghai Jiao Tong University</p>
    </div>
  </div>
</div>
{% endblock %}